In [ ]:
#Q1. Explain with an example each when to use a for loop and a while loop.

In [3]:
# for loop we traverse all the element we know the final point 
l=[1,2,3,-4,5,-6,7,8]
for i in l:
    print(i)

1
2
3
-4
5
-6
7
8

In [8]:
l

[1, 2, 3, -4, 5, -6, 7, 8]

In [18]:
#in while loop we don't know end of loop
i=0
while(True):
    if(l[i]>0):
        print(l[i])
   
        
    
    
    i=i+1

1
2
3
5
7
8

IndexError: list index out of range

In [ ]:
@2 Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [20]:
@for using while loop
sum=0
natural=1
while(natural<=10):
    sum=sum+natural
    natural=natural+1
    
print(sum)

55

In [39]:
#for using for loop 
sum=0

for i in range(1,11):
    sum=sum+i
print(sum)

55

In [26]:
range(10)

range(0, 10)

In [42]:
#second method 
sum=0
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
    sum=sum+i
print(sum)

55

In [48]:

#by using  list 
sum=0
i1=(1,2,3,4,5,6,7,8,9,10)
for i in i1:
    sum=sum+i
print("the sum is ",sum)

the sum is  55

In [ ]:
Q3. Create a python program to compute the electricity bill for a household.

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [65]:
#3 electricity bil
electricitybill=int(input("enter the unit "))
if(electricitybill<=100):
    print("your bill for ",electricitybill," of interst of 4.5% is ",electricitybill*4.5)
elif(electricitybill>100 and electricitybill<=200):
    print("your bill for ",electricitybill,"of intrest of 6% is",electricitybill*6) 
elif(electricitybill>200 and electricitybill<=300):
    print("your bill for ",electricitybill,"of intrest of 10%is ",electricitybill*10)
elif(electricitybill>300):
    print("your bill for ",electricitybill,"of intrest of 20% is ",electricitybill*20)
else:
    print("your bill is invalid ")

enter the unit  301

your bill for  301 of intrest of 20% is  6020

In [72]:
#3 electricity bil
amount=0
bill=int(input("enter the unit "))
if(a<=100):
    print("your first bill for ",a," of interst of 4.5% is ",100*4.5)
elif(True):
    print("your second  bill for ",a,"of intrest of 6% is",100*6)
    
elif(True):
    print("your third  bill for ",a,"of intrest of 10%is ",100*10)
elif(True):
    print("your last bill for ",a,"of intrest of 20% is ",100*20)

    
else:
    print("your bill is invalid ")
    
print("your bill id ",a)

IndentationError: unexpected indent (2301204871.py, line 8)

In [ ]:


Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [5]:
#create a list of 1 to 100 divisible by both 4 or 5
l1=[]
l=list(range(1,101))
for i in l:
    if((i**3)%4==0 or (i**3)%5==0):
        l1.append(i)
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [7]:
#5Write a program to filter count vowels in the below-given string.
#string = "I want to become a data scientist"

In [10]:
string="i want to become a data scientist"

In [28]:
a =input("enter the number")
a=a.lower()
count=0
for i in a:
    if(i=="a" or i=="e"or i=="i"or i=="o"or i=="u"):
        count=count+1
print("total count is ",count)

enter the number b i k r a m

total count is  2

In [37]:

string="i want to become a data scientist"
count=0
for i in string:
    if(i=="a"or i=="e"or i=="i"or i=="o"or i=="u"):
        count=count+1
print("total count is ",count)

total count is  12

In [36]:

string="i want to become a data scientist"
count=0
for i in string:
    if(i=='a'or i=='e'or i=='i'or i=='o'or i=='u'):
        count=count+1
print("total count is ",count)

total count is  12

In [36]:

string="i want to become a data scientist"
count=0
for i in string:
    if(i=="a","e","i","o"):
        count=count+1
print("total count is ",count)

total count is  12